{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>About web servers</h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse quos repellendus architecto laborum a doloremque aliquid eius facere similique sed reiciendis deserunt, doloribus eligendi sit voluptas vero amet cupiditate distinctio!
    </div>

    <div class="4">
        <img src="/assets/img/node.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}

